@use "sass:math";
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
@function sass-calc($val1, $val2) {
  @return math.div($val1, $val2);
}
@function rem($pixels, $context: 16) {
  $pxls: strip-unit($pixels);
  $res: sass-calc($pxls, $context);
  @return #{$res}rem;
}
@function em($pixels, $context: 16) {
  $pxls: strip-unit($pixels);
  $res: sass-calc($pxls, $context);
  @return #{$res}em;
}

@mixin type-18-500(){
  font-size: em(18);
  line-height: 1.4;
  font-weight: 500;
}
@mixin type-16-500(){
  font-size: em(16);
  line-height: 1.4;
  font-weight: 500;
}
@mixin type-16-600(){
  font-size: em(16);
  line-height: 1.4;
  font-weight: 600;
}
@mixin type-14-500(){
  font-size: em(14);
  line-height: 1.4;
  font-weight: 500;
}
@mixin type-14-600(){
  font-size: em(14);
  line-height: 1.4;
  font-weight: 600;
}
